*{
    font-family: 'Poppins', sans-serif;
}


#main_container {

    display: flex;

    width: 90%;

    margin: auto;

    margin-bottom: 50px;
}

#main_container > div:nth-child(1){

    width: 30%;

    background-color: #EDEEF7;
}
#main_container > div:nth-child(2){

    width: 70%;

    background-color: #f7f7ff;
}

.in_img {


    width: 90%;

    margin: auto;

}

.in_img > img {

   

    width: 70%;

    margin: 5% 13%;

    border-radius: 50%; 


}


.in_img > h1{
    text-align: center;
    margin-top:0;

    font-size: 30px ;

    color: #394867;
}
.in_img > p{
    text-align: center;
    margin-top:-10px;

    letter-spacing: 2px;
    font-size: 18px ;

    color: rgb(140, 140, 140);
}


.education{

    

    width: 90%;

    height:fit-content;
    box-shadow: #ADC4CE 0px 10px 36px 0px, rgba(206, 247, 251, 0.06) 0px 0px 0px 1px;
    


    margin: auto;
}


.skills{
    
    width: 90%;


    height: 20px;

    border: 1px solid black;

    margin:5%;
}

#first_skill{
    width: 90%;
    height: 100%;
     background-color: #793FDF;

    
    }

#sec_skill{
    width: 95%;
    height: 100%;
     background-color: #04AA6D;
    
    }

#third_skill{
    width: 85%;
    height: 100%;
     background-color: #6C3428;
    
    }

    
.education > h3 {

    text-align: center;

    padding: 3%;

    color: #512B81;


}

.education > p {

    margin: 0;
    margin-left:5%;
    padding: 0;
}



#box_2 > h3{

    text-align: center;

    margin-top: 30px;

    letter-spacing: 1px;

    color: #394867;

}

.para_h  > p {

    width: 60%;

    margin: auto;

    padding: 1%;


    line-height: 25px;

    left: 3%;
    letter-spacing: 1px;

    height: 10%;


    color: rgb(99, 99, 99);
}

.para_h {

    display: flex;

    justify-content: space-around;
}

.para_h > div {

    height: 150px;

    left: 4%;



    border-right: 1px solid #435334;
;
}

.para_h > h2 {

    padding : 0 2% ;

    color: #512B81;
    
    letter-spacing: 2px;

    text-align: center; 
}


.expr{
    padding: 5px;

    letter-spacing: 2px;

    color: #164B60;
}

.expr > p {

    width: 60%;


    background-color: #F6F1F1;

    padding: 2%;


    margin-left: 15%;

    color: #512B81;
}


.para_last > p {

    width: 80%;

    background-color: #F6F1F1;

    padding: 2%;


    margin-left: 15%;

    color: #512B81;
    
    letter-spacing: 1px;

    line-height: 25px;

}

.para_last > h3{


    color: #164B60;

    bottom: 480px;

    padding-left: 5%;
    
    letter-spacing: 2px;

    line-height: 35px;

}

.para_last > p >span {

    font-weight: bold;

    color: #6C3428;
}

.last_div{

    display: flex;

    background-color:#9BA4B5;


}

.img_2_div > img {

    width : 90%;

    border-radius: 10px;

    margin: 3%;

}

.dropdown {
    position: relative;
    display: inline-block;

    padding: 10px;

    margin: auto;

    margin-left: 20%;

    margin-bottom:50px;

    background-color: #ccabf4;

    border-radius: 8px;

    text-decoration: underline;
    

    text-align: center;
  }

  .dropdown > span {

    color: #512B81;

   

    margin: auto;

    font-weight: bold;
  }

  .dropdown:hover{

    text-decoration:none;

    cursor: pointer;
  }

  .dd{

    width: 100%;


  

  }
  


  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;

    height: 70px;

    font-size:12px;

    overflow: scroll;
  }
  
  .dropdown:hover .dropdown-content {

    
    display: block;
  }

  iframe{

    width: 50%;
    aspect-ratio: 16/9;

    position: relative;

    left: 20%;

    bottom: 5%;
}


@media only screen and (max-width:550px){

    
    .in_img > h1{

        font-size:  10px ; 
    }

    #box_2 > h3{

        font-size:8px;
    }

    
    .in_img > p {

        font-size:5px;

        letter-spacing: 1px;

        padding: 3%;
    }

    .para_h > h2 {

        font-size: 10px;

        margin-top: 6%;

       
    }

    .para_h > p {

        font-size:8px;

        height: 80px;

        line-height: 15px;

        overflow: scroll;
    }

    .para_h > div {

        height: 80px;
    
        margin: 4%;
    
    
    }

    .expr{
    
    
        letter-spacing: 1px;
    }

    
.expr > p {

    width: 70%;

    font-size: 6px;
}

.expr > h2{

    font-size: 10px;

   
}



.para_last > p {

    width: 70%;

    background-color: #F6F1F1;

    padding: 2%;

    height: 60px;


    overflow: scroll;

    margin-left: 15%;

    font-size: 6px;
    
    letter-spacing: 1px;

    line-height: 15px;

}

.para_last > h3{


    padding-left: 5%;
    
    letter-spacing: 1px;

    line-height: 10px;

    font-size: 8px;
}

.education {

    margin-top: 50px ;
}


.education > h3 {

    font-size: 6px;


}

.education > p {


    font-size: 4px;
}



.skills{
    
    width: 90%;


    height: 8px;

    border: 1px solid black;

    margin:3%;
}

.dropdown{

    font-size: 6px;

    padding: 5px;

    margin-left: 15%;
}

iframe{

    width: 40%;
    aspect-ratio: 16/9;

    position: relative;

    left: 20%;

    bottom: 5%;
}


}


@media only screen and (min-width: 551px) and (max-width: 1020px)
    {

    
    .in_img > h1{

        font-size:  14px ; 
    }

    #box_2 > h3{

        font-size:12px;
    }

    
    .in_img > p {

        font-size:10px;

        letter-spacing: 1px;

        padding: 3%;
    }

    
.dropdown{

    font-size: 8px;

    padding: 10px;

    margin-left: 18%;
}


    .para_h > h2 {

        font-size: 12px;

        margin-top: 6%;
    }

    .para_h > p {

        font-size:10px;

        height: 100px;

        line-height: 15px;

        overflow: scroll;
    }

    .para_h > div {

        height: 100px;
    
        margin: 4%;
    
    
    }

    .expr{
    
    
        letter-spacing: 1px;
    }

    
.expr > p {


    padding: 3%;

    margin-left: 15%;

    font-size: 10px;
}

.expr > h2{

    font-size: 14px;
}




.para_last > p {

    width: 70%;

    background-color: #F6F1F1;

    padding: 2%;

    height: 100px;

    overflow: scroll;

    margin-left: 15%;

    font-size: 10px;
    
    letter-spacing: 2px;

    line-height: 20px;

}

.para_last > h3{


  

    padding-left: 5%;
    
    letter-spacing: 2px;

    line-height: 15px;

    font-size: 12px;
}


.education > h3 {

    font-size: 12px;


}

.education > p {


    font-size: 8px;
}



.skills{
    
    width: 90%;


    height: 10px;

    border: 1px solid black;

    margin:3%;
}

}